<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:property name="wheel_radius" value="0.05" />
  <xacro:property name="wheel_length" value="0.03" />
  <xacro:property name="wheel_mass" value="0.2" />

  <xacro:property name="bottom_link_length" value="0.5" />
  <xacro:property name="bottom_link_width" value="0.3" />
  <xacro:property name="bottom_link_height" value="0.02" />
  <xacro:property name="bottom_link_mass" value="1.0" />

  <xacro:property name="top_link_length" value="0.5" />
  <xacro:property name="top_link_width" value="0.3" />
  <xacro:property name="top_link_height" value="0.02" />
  <xacro:property name="top_link_mass" value="1.0" />


  <xacro:property name="wheel_connector_length" value="0.1" />
  <xacro:property name="wheel_connector_radius" value="0.01" />
  <xacro:property name="wheel_connector_mass" value="0.01" />

  <xacro:property name="bottom_to_top_connector_length" value="0.1" />
  <xacro:property name="bottom_to_top_connector_radius" value="0.005" />
  <xacro:property name="bottom_to_top_connector_mass" value="0.01"/>


</robot>