<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:property name="wheel_radius" value="0.03" />
  <xacro:property name="wheel_length" value="0.03" />
  <xacro:property name="wheel_mass" value="0.2" />

  <xacro:property name="box_length" value="0.5" />
  <xacro:property name="box_width" value="0.3" />
  <xacro:property name="box_height" value="0.1" />
  <xacro:property name="box_mass" value="5.0" />

</robot>